*{
    margin: 0;
   padding: 0;
   color: □#7f1d5a ;
   font-family: cursive;
 }
 bory{
     background-image url("donuts-background.jpeg");
     backgorund-color: □#000;
     background-repeat: no-repeat;
     background-size: cover;]
 }
 .background-img{
     height: auto;
     position: relative; top: 0px; left: 0px;
 }
 .donuts-background[
     height: auto;
     position: relative; top: 0px; left: 0px;
}
.donuts{
    font-size:20px;
    position: absolute; top; 20px;
